#edit-advanced-search .form-submit {
  margin-left: 0;
  margin-top: 1.5rem;
}

.media-list-thumbnails .media-thumbnail {
  padding: 0.5rem
}

.media-list-thumbnails .media-item:hover {
  outline: 1px solid #d0d3d4;
  background-color: #f8f9f9;
}

@media (min-width: 32rem) {
  .media-list-thumbnails {
    display: flex;
    flex-wrap: wrap;
  }

  .media-list-thumbnails .media-item {
    flex-basis: calc(50% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
}

@media (min-width: 64rem) {
  #edit-advanced-search .details-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  #edit-advanced-search .form-type-textfield{
    flex-basis: 50%;
    margin-top: 1.5rem;
  }

  #edit-advanced-search .fieldgroup{
    flex-basis: 33.33%;
  }

  #edit-advanced-search .form-submit {
    margin-right: 50%;
  }

  .media-list-thumbnails .media-item {
    flex-basis: calc(25% - 2rem);
  }
}
.media-orange-logic-search .details-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.media-orange-logic-search .form-item {
  margin: 0 .5rem;
}
.media-orange-logic-pager {
  display: none;
  flex-wrap: wrap;
}
.media-orange-logic-pager .button {
  height: 2rem;
}
.media-orange-logic-pager .form-item--filters-search-results-pager-current-page {
  margin-top: .5rem;
  margin-right: .5rem;
}
/* Show the pager when there is results */
#search-results-items:has(div) + .media-orange-logic-pager {
  display: flex;
}

#selected-media-items .media-thumbnail:hover {
    position: relative;
    background: lightcoral;
    overflow: hidden;
}

/* Display a red X on hover for items that will be removed from the selection */
#selected-media-items .media-thumbnail:hover:before, #selected-media-items .media-thumbnail:hover:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#selected-media-items .media-thumbnail:hover:before {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#selected-media-items .media-thumbnail:hover:after {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
