<div id="media-dam-images-wrapper">
  <div id="scrollbox">
    <div class="media-list-thumbnails">
      {% if rows|length > 0 %}
          {% for row in rows %}
            {{ row.preview }}
          {% endfor %}
      {% else %}
        {{ 'No results were found.'|t }}
      {% endif %}
    </div>
    <div id="status"></div>
  </div>
</div>
