<div class="media-item media-type-{{ metadata.mediaType|clean_class }}" data-systemId="{{ metadata.uid }}">
  <div class="media-thumbnail">
    <div class="media-thumb-wrapper">
      {{ thumbnail }}
    </div>
    <div class="media-metadata-info">
      <div class="metadata--element-wrapper">
        <span>{{  metadata.mediaType }}</span>
      </div>
      <div class="metadata--element-wrapper">
        <span>{{ metadata.uid }}</span>
      </div>
      <div class="metadata--element-wrapper">
        <span>{{ metadata.title }}</span>
      </div>
      <div class="label-wrapper">
        <span>{{ metadata.date }}</span>
      </div>
      <div class="label-wrapper">
        <span>{{ metadata.country }}</span>
      </div>
    </div>
  </div>
</div>
