{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - attributes: An array of HTML attributes, intended to be added to the
*   video tag.
* - asset_url: The url to the video.
* - asset_type: The mimetype of the asset.
*
* @ingroup themeable
*/
#}
<video {{ attributes }}>
    <source src="{{ asset_url }}" type="{{ asset_type }}"/>
</video>
